html {
	min-height: 100%;
	background: linear-gradient(
		90deg,
		rgba(213, 239, 255, 1) 0%,
		rgba(0, 226, 255, 1) 50%,
		rgba(217, 242, 255, 1) 100%
	);
}

.darkMode {
  background: linear-gradient(
    90deg,
    rgb(39, 35, 35) 0%,
    rgb(0, 0, 0) 50%,
    rgb(39,35,35) 100%
   );
}

.nameMode {
    color: #ff751a;
    margin-bottom: 10px;
    font-weight: bold;
}

.mode-input:checked + .mode-btn {
  background: #666666;
}

.mode-input + .mode-btn {
  background: #333333;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.mode-input + .mode-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mode-input:checked + .mode-btn:after {
  left: 50%;
}
.mode-input + .mode-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.mode-input + .mode-btn:after {
  left: 0;
}
.mode-input + .mode-btn:after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.mode-input {
  display: none;
}
.mode-input, .mode-input:after, .mode-input:before, .mode-input *, .mode-input *:after, .mode-input *:before, .mode-input + .mode-btn {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
	font-size: 45px;
}

.labelStyle {
	font-size: 25px;
}

.header,
.labelStyle {
  color: #ffef19;
}

.notesEmoji {
	padding: 5px;
}

.inputStyle {
	width: 250px;
	background: #fff;
	color: black;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 10px;
}

.buttonStyle {
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 10px;
	cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  border: 1px solid;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}

.checkbox:checked {
  background: #ff751a;
}

.selectStyle {
  color: #ff751a;
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 3px 10px;
  margin-right: 5px;
  height: 25px;
  cursor: pointer;
}

ol {
  color: #ff751a;
  align-self: center;
  align-items: center;
  list-style: none;
}

.listInput {
	width: 150px;
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 5px;
	margin-right: 5px;
}

.listInputDeadline {
	width: 150px;
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	padding: 3.5px;
	margin-right: 5px;
	cursor: pointer;
}

.itemButton {
    background: #fff;
    color: #ff751a;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 5px 15px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.deleteSelected {
  position: "absolute";
  color: "red";
  display: 'inline-block';
  margin-left: "5px";
  padding: "10px";
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.red {
  color: #cc0000;
}

.add {
  display: inline-block;
  text-align: center;
}

li {
  display: flex;
  align-items: center;
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 5px 15px;
  margin: 10px 5px;
	cursor: default;
}

/* Transition animation */
.slide-enter {
	opacity: 0.01;
	transform: translateX(-100px);
}

.slide-enter.slide-enter-active {
	opacity: 1;
	transition: all 300ms ease-in;
	transform: translateX(0);
}

.slide-leave {
	opacity: 1;
	transform: translateX(0);
}

.slide-leave.slide-leave-active {
	opacity: 0.01;
	transition: all 300ms ease-in;
	transform: translateX(-100px);
}

/* Button Animations */
.buttonAnimate {
	position: relative;
	z-index: 1;
}
.buttonAnimate:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	z-index: -1;
	background: #ff751a;
	transition: all 0.3s ease;
}
.buttonAnimate:hover {
	color: #fff !important;
}
.buttonAnimate:hover:after {
	top: auto;
	bottom: 0;
	height: 100%;
}
.buttonAnimate:active {
	top: 2px;
}

/* <Alert /> styles  */

.alert {
  width: 100%;
  left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  position: fixed;
  bottom: 0px; 
  text-align: center;
  z-index: 10;
}

#success {
  background-color: rgba(0, 55, 255, .7);
}

#error {
  background-color: rgba(255, 6, 98, .7);
}

/* Transition animation for Alert */
.down-enter {
	opacity: 0.01;
	transform: translateY(100px);
}

.down-enter.down-enter-active {
	opacity: 1;
	transition: all 300ms ease-in;
	transform: translateY(0);
}

.down-leave {
	opacity: 1;
	transform: translateY(0);
}

.down-leave.down-leave-active {
	opacity: 0.01;
	transition: all 300ms ease-in;
	transform: translateY(100px);
}

/* END Transition animation for Alert */

/* END </Alert > styles  */

.priority {
  padding: 5px;
  color: #fff;
  width: 70px;
  text-align: center;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.high {
  background-color: #cc0000;
}

.medium {
  background-color: #ffef19;
}

.low {
  background-color: #4BB543;
}


.loginContainer {
  width: 25em;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  padding: 15px;
}

.loginTitle {
  color: #ff751a;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginInputStyle {
  width: 250px;
  color: #ff751a;
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 10px;
}

.loginInputStyle::placeholder {
  color: #ff751a;
}

.loginSubmitButton {
  background: #fff;
  color: #ff751a;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100px;
  margin: 10px;
}


