html {
	min-height: 100%;
	background: linear-gradient(
		90deg,
		rgba(213, 239, 255, 1) 0%,
		rgba(0, 226, 255, 1) 50%,
		rgba(217, 242, 255, 1) 100%
	);
}

.container {
	display: flex;
	height: 100%;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	color: #ffef19;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
}

.labelStyle {
	color: #ffef19;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

.notesEmoji {
	padding: 5px;
}

.inputStyle {
	width: 250px;
	background: #fff;
	color: black;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 10px;
}

.buttonStyle {
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 10px;
	cursor: pointer;
}

ol {
	color: #ff751a;
	align-self: center;
	align-items: center;
}

.listInput {
	width: 150px;
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 5px;
	margin-right: 5px;
}

.listInputDeadline {
	width: 150px;
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	padding: 3.5px;
	margin-right: 5px;
	cursor: pointer;
}

.itemButton {
	background: #fff;
	color: #ff751a;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 5px;
	cursor: pointer;
}

li {
	align-self: center;
	align-items: center;
	margin: 5px 0;
}

/* Transition animation */
.slide-enter {
	opacity: 0.01;
	transform: translateX(-100px);
}

.slide-enter.slide-enter-active {
	opacity: 1;
	transition: all 300ms ease-in;
	transform: translateX(0);
}

.slide-leave {
	opacity: 1;
	transform: translateX(0);
}

.slide-leave.slide-leave-active {
	opacity: 0.01;
	transition: all 300ms ease-in;
	transform: translateX(-100px);
}

/* Button Animations */
.buttonAnimate {
	position: relative;
	z-index: 1;
}
.buttonAnimate:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	z-index: -1;
	background: #ff751a;
	transition: all 0.3s ease;
}
.buttonAnimate:hover {
	color: #fff !important;
}
.buttonAnimate:hover:after {
	top: auto;
	bottom: 0;
	height: 100%;
}
.buttonAnimate:active {
	top: 2px;
}

.alert {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: 20px; 
  text-align: center;
  border-radius: 10px;
}

#success {
  background-color: #4BB543;
}

#error {
  background-color: #cc0000;
}
